@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Оформление заявки.</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Ваши данные:</h3><br />
   <hr />
        <div class="row form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @*@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row form-group">
            @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
            
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Phone, new { @class = "phone form-control" })
                @*@Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })*@
            </div>
        </div>
    <hr />
    
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Отправить заявку" />
    </div>
}

@*section script {

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        
        <script>

                    $(".phone").keyup(function () {
                        //alert("inside!");
                        $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1)$2-$3"));
                    });

        </script>*@
    
 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

            <script>

                    $(".phone").keyup(function () {
                        //alert("inside!");
                        $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "($1)$2-$3"));
                    });

            </script>
}   