@model AreaWithPhotos

<div class="well">
    <div class="row">
        <p>
            <strong>@Model.Area.RentAreaAddressRegion, @Model.Area.RentAreaAddressCity, @Model.Area.RentAreaAddressStreet</strong>
        </p>

        @{
            foreach (var item in Model.Photos)
            {
                string path = @item.PathToPhoto + @item.PhotoName + @item.PhotoExtension;
                <img @*class="img-thumbnail"*@ src="@path" height="120" width="160" />
            }
        }
    </div>

    <div class="col-xs-10">
        <h4>
            <strong class="pull-left">id заказа: @Model.Area.AreaID</strong>
        </h4>


    </div>
    <div class="col-xs-2">
        <h4>
            <strong class="pull-right label label-primary">@Model.Area.MonthPrice / месяц</strong>
        </h4>
    </div>
    <span class="lead">
        @Model.Area.AreaDescription
    </span>
</div>



