<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Аренда</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>

        $(document).ready(function () {
            $(window).scrollTop($('#mainID').offset().top).scrollLeft($('#mainID').offset().left);
        });
       
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });


        @*$(document).ready(function () {
            $(window).scrollTop($(@ViewBag.Anchor).offset().top).scrollLeft($(@ViewBag.Anchor).offset().left);
        });*@


    </script>
    
</head>

<body>
    
    <a style="visibility: hidden" ></a>
    <!-- Navbar -->
    <nav id="start" class="navbar navbar-default bg-4">
        <div class="navbar navbar-inverse bg-4 navbar-fixed-top">
            <div class="container bg-4">
                <div class="navbar-header bg-4">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  
                </div>
                <div class="navbar-collapse collapse bg-4">
                    <ul class="nav navbar-nav">
                        <li id='home'>@Html.ActionLink("Каталог", "List", "Areas")</li>
                        @*<li>@Html.ActionLink("О проекте", "About", "Home")</li>*@
                        <li><a class="scroll" href="#about">О проекте</a></li>
                        @*<li>@Html.ActionLink("Контакты", "Contact", "Home")</li>*@
                        <li><a class="scroll" href="#contact">Контакты</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Почему стоит выбрать услуги именно нашей компании?</h3>
        <img id='photoMain' src="../Content/Images/1005.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>Разумные цены, многолетний опыт работы, быстрое оформлении документов.</h3>
    </div>

    <!-- Second Container -->
    <div id="about" class="container-fluid bg-2 text-center my-about">
        
        <h3 class="margin">О проекте</h3>
        <hr />
        <h4 class="row">
            &nbsp;Данный проект является дипломной работой Филоненко Дмитрия, студента группы С-15-ПЗ-3
            киевского филиала Компьютерной Академии "Шаг".<br /><br />

            &nbsp;Название проекта - "ILandLord";<br /><br />

            &nbsp;Цель проекта - расширение рынка предоставления услуг для
            потенциального заказчика (риэлторской компании).<br /><br />

            &nbsp;Проект представляет собой программный комплекс,
            состоящий из нескольких компонентов:<br /><br />
        </h4>
        <ul class="row">
            <li>
                &nbsp;приложение, построенное на .NET технологии ASP.MVC,
                предоставляющее пользовательский вэб-интерфейс;
            </li>
            <li>
                &nbsp;приложение для OS Android, расширяющее возможности администрирования вэб сайта,
                основной задачей которого является геолокационная привязка выездных фотосэтов к объектам, имеющимся в базе данных компании;
            </li>
            <li>
                &nbsp;вэб сервис,  построенный на .NET технологии ASP.WebAPI, решающий задачи
                совместного использования базы данных вышеуказанными приложениями.
            </li>
        </ul>
        <hr />
        
        @*<a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>*@
    </div>

    <!-- Third Container (Grid) -->
    <div id ="mainID" class="container-fluid bg-3 text-center">

        <div class="row panel">
            <div id="regions" class="col-xs-3">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-xs-8">
                @RenderBody()
            </div>            
        </div>

    </div>

    <!-- Fourth Container (Grid) -->
    <div id="contact" class="container-fluid bg-1 text-info">

        <h3 class="margin">Наши контакты</h3>
        <hr />
       
        <h4>Юридический адрес: Украина, г. Киев, ул. Крещатик, 777, оф. 3.</h4>
        <hr />

        <h4>Телефоны службы поддержки:</h4>
        <ul class="row" style="list-style:none">
            <li>
                &nbsp; <img src="../content/Images/OperatorLogo/mts.png"/> +38(050)190-98-82;
            </li>
            <li>
                &nbsp; <img src="../content/Images/OperatorLogo/ks.png" /> +38(067)218-85-81;
            </li>
            <li>
                &nbsp;&nbsp;<img src="../content/Images/OperatorLogo/life.png" />&nbsp;+38(093)217-98-80;
            </li>
        </ul>
        <hr />

        <h4>Электронные адреса службы поддержки:</h4>
        <ul class="row">
            <li>
                &nbsp;admin@landlord.com;
            </li>
            <li>
                &nbsp;support@landlord.com
            </li>            
        </ul>
        <hr />

    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <a class="scroll" href="#start"><p>Дипломная работа Филоненко Дмитрия. Компьютерная академия "Шаг", 2016</p></a>
    </footer>

    
    @RenderSection("scripts", required: false)
 
    
   


</body>
</html>

@*<script>

        $( document ).ready(function() {
            alert( "document loaded" );
        });

        $( window ).load(function() {
            alert("Hello! I am an alert box!!");
            window.location.href = @ViewBag.Anchor;
        });
</script>*@

