@using Domain.Entities
@using WebUI.Models.CustomModels

@model AreaListViewModel

@{
    ViewBag.Title = "Аренда";
}


@foreach (AreaWithPhotos area in Model.AreasWithPhotosList)
{
    <div>

        <h3>ID заказа: @area.Area.AreaID</h3>
        <h3>Цена месячной аренды - @area.Area.MonthPrice</h3>
        <h3>Краткое описание - @area.Area.AreaDescription</h3>

        @{
            foreach (var item in area.Photos)
            {
                string path = @item.PathToPhoto + @item.PhotoName + @item.PhotoExtension;
                <img src="@path" height="120" width="160" />
            }
        }
        
    </div>
    <hr />
}