@using Domain.Entities
@using WebUI.Models.CustomModels

@model AreaListViewModel

@{
    ViewBag.Title = "Аренда";
}


@foreach (AreaWithPhoto item in Model.AreasWithPhoto)
{
    <div>

        <h3>ID заказа: @item.Area.AreaID</h3>
        <h1>@item.Area.MonthPrice</h1>
        @{
            string path = @item.Photo.PathToPhoto + @item.Photo.PhotoName + ".jpg";
            <img src="@path" height="120" width="160"/>
        }
        @*<img src="@item.Photo.PathToPhoto  "../Content/Img/"
    @String.Format("../Content/Img/{0}.jpg", count)" height="120" width="160" />*@       

    </div>
    <hr />
}